html {
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 223, 235),
    rgb(234, 236, 248)
  );
}

header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#hero {
  border-radius: 20px;
  width: calc(30vw + 30vh);
}

button {
  cursor: pointer;
}

.top_button {
  width: 270px;
  height: 50px;
  border-radius: 20px;
  margin: 5px;
  font-size: 25px;
  font-family: "Marck Script", cursive;
}

.main_button {
  width: 270px;
  height: 50px;
  border-radius: 20px;
  margin: 5px;
  color: #fff;
  font-size: 25px;
  font-family: "Marck Script", cursive;
}

#main_button_1 {
  background-color: rgb(44, 36, 90);
}
#main_button_2 {
  background-color: rgb(82, 72, 36);
}
#main_button_3 {
  background-color: blue;
}
#main_button_4 {
  background-color: black;
}
