.products_field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.audio {
  width: calc(30vw + 30vh);
  margin: 5px;
}

.img {
  width: calc(30vw + 30vh);
  margin: 5px;
}
